<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <!-- if use "=" it escapes special characters and we end up a string value instead of raw html -->
    <%- include('./partials/nav.ejs') %>

    <h1 class="error404">OOOPS, PAGE NOT FOUND :(</h1>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
